<div class="page-top clearfix" scroll-position="scrolled" max-height="50" ng-class="{'scrolled': scrolled}">
  <a href="#/dashboard" class="al-logo clearfix"><img src="../assets/img/logo.png"></a>
  <a href class="collapse-menu-link ion-navicon" ba-sidebar-toggle-menu></a>

  <div class="user-profile clearfix">    
    <div class="al-user-profile" uib-dropdown>      
      <a uib-dropdown-toggle class="profile-toggle-link">
        <img ng-if="!adminProfile.picture.small" ng-src="assets/img/profile-pic.jpg" alt="User image" />
        <img ng-if="adminProfile.picture.small" ng-src="{{adminProfile.picture.small}}" alt="User image" />
         <i class="fa fa-chevron-down" aria-hidden="true"></i>
      </a>
      
      <ul  class="top-dropdown-menu profile-dropdown" uib-dropdown-menu>
        <li><i class="dropdown-arr"></i></li>
        <li><a href="#/profile"><i class="fa fa-user"></i>Profile</a></li>
        <li><a href ui-sref="changepassword"><i class="fa fa-lock"></i>Change Password</a></li>
        <li><a href class="signout" ng-click="logout()"><i class="fa fa-power-off"></i>Log Out</a></li>
      </ul>
    </div>
    <div class="al-change-language" uib-dropdown>      
      <a uib-dropdown-toggle class="Language-toggle-link">
        <img ng-src="assets/img/English.png" ng-show="(currentlan=='en')" alt="User image" />
        <img ng-src="assets/img/Italian.png" ng-show="(currentlan=='it')" alt="User image" />
        <i class="fa fa-chevron-down" aria-hidden="true"></i>
      </a>
      <ul class="top-dropdown-menu language-option" uib-dropdown-menu>
        <li><i class="dropdown-arr"></i></li>
        <li><a ng-click="changeLanguage('en')"><img ng-src="assets/img/English.png" alt="Flag image" /> English</a></li>
        <li><a ng-click="changeLanguage('it')"><img ng-src="assets/img/Italian.png" alt="Flag image" /> Italian</a></li>
      </ul>
    </div>
  </div>
</div>
