<div class="container-fluid">
    <div class="row">
        <div class="list-pagination">
            <ul class="pageul">
                <li>
                    <a href="javascript:void(0)" ng-class="{'disabled': (currentPage == 1)}" title="First" ng-click="goToPage(1)">
                        <i class="fa fa-step-backward"></i>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" ng-class="{'disabled': (currentPage == 1)}" title="Previous" ng-click="goToPage(currentPage-1)">
                        <i class="fa fa-caret-left"></i>
                    </a>
                </li>
                <li class="content-area">
                    <a href="javascript:void(0)">
                        <span class="active" ng-bind="currentPage"></span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" ng-class="{'disabled': (totalPageCount <= currentPage)}" title="Next" ng-click="goToPage(currentPage+1)">
                        <i class="fa fa-caret-right"></i>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" ng-class="{'disabled': (totalPageCount == currentPage)}" title="Last" ng-click="goToPage(totalPageCount)">
                        <i class="fa fa-step-forward"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="pull-right">Showing {{currentPage}} of {{totalPageCount}} pages ({{totalCount}} items)</div>
    </div>
</div>