@import 'theme/conf/mixins';
@import 'theme/conf/colorScheme/mint';
@import 'theme/conf/variables';
.radius-100 {
    border-radius: 100%;
}

.text-center {
    text-align: center;
}

.pointer-none {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.5;
}

.overflow-scroll {
    height: calc(100% - 40px);
    overflow-y: auto;
}

.flex-wrap {
    flex-wrap: wrap;
}

.mb-10 {
    margin-bottom: 10px;
}

.flex-row {
    flex-direction: row !important;
}

.ph-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.pt-r-50 {
    right: 50px !important;
}

.w-180 {
    width: 180px;
}

.w-50 {
    width: 50px;
}

.w-310 {
    width: 310px;
}

.input-group-addon-secondry {
    background: #adadad;
    color: #fff;
    border-color: #adadad;
}

.color-red {
    color: red !important;
    display: inline-block;
    padding: 5px 0 0;
    margin: 0;
}

.bg-danger {
    background-color: red;
}

.btn-expand {
    background: transparent;
    border: 2px solid #4b473f;
    border-radius: 50%;
    color: #fcab00;
}


.input-group-addon-success {
    background: $primary;
    border-color: $primary;
}

.bg-success {
    background-color: green;
}

.order-item-table{
    padding: 0 !important;
    border: 0 !important;
}

.cursor-pointer {
    cursor: pointer;
}

.bg-red {
    background-color: red;
    color: #fff;
    &:hover {
        color: #fff !important;
    }
}

.btn.bg-success {
    &:hover {
        color: #fff !important;
    }
}

.color-green {
    color: green !important;
    display: inline-block;
    padding: 5px 0 0;
    margin: 0;
}

.thumbnail {
    padding: 15px 10px 0;
}

.panel {
    box-shadow: none !important;
}

.user-image {
    img {
        max-width: 100%;
    }
}

.d-flex {
    display: flex;
}

.pt-0 {
    padding-top: 0;
}

.justify-space-between {
    justify-content: space-between;
    align-items: center;
}

.mt-10 {
    margin-top: 10px;
}

.justify-flex-end {
    justify-content: flex-end;
}

.align-item-center {
    align-items: center;
}

.m-0 {
    margin: 0 !important;
}

.p-0 {
    padding: 0 !important;
}

.search-item {
    margin-bottom: 10px;
    width: 100%;
    label {
        margin-right: 20px;
    }
    .form-control {
        max-width: 100%;
    }
    .btn-secondary {
        margin-right: 5px;
    }
}

.lh-40 {
    line-height: 40px;
}

.mr-10 {
    margin-right: 10px !important;
}

.mr-5 {
    margin-right: 5px;
}

// user View
.thumbnail {
    img {
        max-height: 64px;
        min-height: 64px;
    }
}

// btn_primary
.btn-primary {
    background-color: $primary !important;
    border-color: $primary !important;
    &.active {
        background-color: green !important;
        border-color: green !important;
        opacity: 1;
    }
    &.btn-light {
        opacity: 0.8;
    }
}

// btn_primary
.btn-secondary {
    background-color: $secondry !important;
    border-color: $secondry !important;
    color: #fff;
    &.active {
        background-color: green !important;
        border-color: green !important;
        opacity: 1;
    }
    &.btn-light {
        opacity: 0.8;
    }
    &:hover {
        color: #fff;
    }
}

// Add-btn
.add-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 10;
    &:hover {
        color: #fff !important;
    }
}

.back-btn {
    position: absolute;
    top: 5px;
    right: 46px;
    z-index: 10;
}

.tab-content,
.tab-pane {
    .panel-body,
    .panel-heading {
        padding: 14px 0 !important;
    }
}

// Delete-btn
.delete-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 10;
    &:hover {
        color: #fff;
    }
}

// Sidebar user detail
.menu-collapsed {
    .sidebar-user-detail {
        display: none;
    }
}

.sidebar-user-detail {
    text-align: center;
    padding: 30px 0 0;
    img {
        border-radius: 50%;
        width: 100px;
        height: 100px;
    }
    p {
        color: #fff;
        &.name {
            font-size: 18px;
            margin-top: 20px;
        }
        &.mail {
            font-size: 14px;
        }
    }
}

// Profile page
.uib-datepicker-wrap {
    min-height: auto !important;
}

// ROOMS
.rooms-container {
    border: 1px solid #e0e0e0 !important;
    .panel {
        margin-bottom: 0;
        min-height: 250px;
        .panel-body {
            .min-height {
                min-height: 176px;
                margin-bottom: 20px;
            }
            &.bg {
                background-color: #dbdbdb;
                color: #4b473f;
                .min-height {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
}

.table-container {
    display: flex;
    background-color: $primary;
    padding: 10px;
    max-width: 110px;
    margin-right: 20px;
    width: 100%;
    height: 110px;
    margin-bottom: 20px;
    position: relative;
    .room-table {
        width: 90px;
        height: 90px;
        border-radius: 50%;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        cursor: pointer;
        .table-name {
            font-weight: 700;
        }
    }
    .edit-table-btn {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        a {
            top: 40%;
            right: 40%;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: rgba(0, 0, 0, 0.5);
            justify-content: center;
            align-items: center;
            cursor: pointer;
            display: flex;
            i {
                color: #fff;
            }
        }
    }
    .delete-table-btn {
        top: -15px;
        right: -15px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        z-index: 100;
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        i {
            font-size: 20px;
        }
    }
}

.update-name {
    position: absolute;
    width: 50%;
    top: 3px;
    display: flex;
    input {
        padding: 6px 5px;
        margin-right: 20px;
    }
}

.table-modal {
    position: fixed;
    display: flex;
    justify-content: center;
    top: -1000px;
    transition: all 0.3s ease-in-out;
    width: 100%;
    height: 100%;
    left: 0;
    padding-top: 100px;
    z-index: 999;
    &.showtablemodal {
        display: block !important;
        top: 0 !important;
        left: 0;
    }
    &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        background: rgba($color: #000000, $alpha: 0.2);
    }
}

.menu-list {
    img {
        max-width: 100%;
    }
    .tab-pane {
        .row {
            margin-bottom: 10px;
            border-bottom: 1px solid #dedede;
            padding-bottom: 10px;
            &:last-child {
                border: none;
            }
        }
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            li {
                margin-bottom: 10px;
            }
        }
    }
}

.category-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 30px;
    .category {
        max-width: 130px;
        width: 100%;
        height: 130px;
        margin-right: 10px;
        margin-bottom: 10px;
        .category-content {
            border-radius: 3px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            height: 100%;
            cursor: pointer;
            img {
                border-radius: 3px;
            }
        }
        .name {
            background-color: rgba($color: #000000, $alpha: 0.2);
            padding: 10px 0;
            width: 100%;
            color: #fff;
            position: absolute;
            bottom: 0;
            text-align: center;
            cursor: pointer;
        }
        .edit-category {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: rgba(0, 0, 0, .5);
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            cursor: pointer;
            display: flex;
            i {
                color: #fff;
            }
        }
        .remove-category {
            position: absolute;
            top: -15px;
            right: -15px;
            background-color: rgba(0, 0, 0, .5);
            border: none;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            color: #fff;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            i {
                color: #fff;
                font-size: 20px;
            }
        }
        img {
            max-width: 60px;
        }
    }
    .add-category {
        border: 2px dashed $primary;
        border-radius: 2px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 130px;
        height: 130px;
        i {
            font-size: 24px;
        }
        .name {
            background-color: transparent;
            color: #333;
            padding: 10px 0;
            width: 100%;
            position: absolute;
            bottom: 0;
            text-align: center;
            cursor: pointer;
        }
    }
}

.subcategory-panel {
    margin-bottom: 0 !important;
    .panel-heading {
        color: #fff !important;
        background-color: $secondry;
    }
}

.admin-addon{
    background: transparent;
    color: #000;
    border-color: #cbcbcb;
}

.username-input{
    border-left: 0;
}

.subcategory-container {
    margin-top: 0;
    .category-name {
        background-color: #dedede;
        font-size: 18px;
        padding: 10px;
        margin-bottom: 20px;
    }
    .subcategory-name {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .category-title {
        background-color: $primary;
        color: #fff;
        font-size: 15px;
        margin-bottom: 10px;
        border-radius: 5px 5px 0 0;
        padding: 10px 10px;
        width: 100%;
    }
    .subcategory {
        background-color: $secondry;
        border-radius: 3px;
        max-width: 130px;
        width: 100%;
        height: 130px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-right: 20px;
        margin-bottom: 20px;
        cursor: pointer;
        .delete-subcategory {
            position: absolute;
            top: -15px;
            right: -15px;
            background-color: rgba(0, 0, 0, 0.5);
            border: none;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            color: #fff;
            cursor: pointer;
            i {
                font-size: 24px;
            }
            &:active,
            &:focus {
                outline: none;
                box-shadow: none;
            }
        }
        .edit-category {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: rgba(0, 0, 0, .5);
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            cursor: pointer;
            display: flex;
            i {
                color: #fff;
            }
        }
        .icon-img {
            max-width: 40%;
        }
        img {
            max-width: 100%;
        }
        .remove-category {
            position: absolute;
            top: -15px;
            right: -15px;
            background-color: rgba(0, 0, 0, .5);
            border: none;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            color: #fff;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            i {
                color: #fff;
                font-size: 18px;
            }
        }
    }
    .add-subcategory {
        border: 2px dashed $primary;
        border-radius: 2px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 130px;
        height: 130px;
        i {
            font-size: 24px;
        }
        .name {
            background-color: transparent;
            color: #333;
        }
    }
    .name {
        background-color: rgba($color: #000000, $alpha: 0.2);
        padding: 10px 0;
        width: 100%;
        color: #fff;
        position: absolute;
        bottom: 0;
        left: 0;
        text-align: center;
        cursor: pointer;
    }
}

.article-container {
    .img-container {
        max-height: 400px;
        overflow: hidden;
        img {
            max-width: 100%;
        }
    }
}

.action-btn {
    width: 180px;
    i {
        margin-right: 10px;
        cursor: pointer;
        &:last-child {
            margin: 0;
        }
    }
}

.color-picker {
    .input-group {
        margin-bottom: 0 !important;
    }
}

.divider {
    margin: 12px 15px;
}

.icon-popup {
    background-color: $primary;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    z-index: 5;
    .icon-container {
        margin-right: 10px;
        margin-bottom: 10px;
        text-align: center;
        border: 1px solid #fff;
        width: 92px;
        cursor: pointer;
        div {
            padding-top: 10px;
            padding: 5px;
        }
        p {
            color: #fff;
            margin: 10px 0;
        }
        img {
            max-width: 40px;
        }
        &.selected {
            border-width: 3px;
            border-color: #fba900;
        }
    }
}

.form-horizontal {
    .unit {
        label {
            border-bottom: 1px solid #ccc;
            padding: 10px !important;
            padding-top: 10px !important;
            margin: 0 !important;
            display: flex;
            justify-content: space-between;
            align-items: center;
            line-height: inherit !important;
            input[type=text] {
                max-width: 150px;
                width: 100%;
                padding: 6px 12px;
                border: 1px solid #cbcbcb;
            }
            &:hover {
                background: #eee;
                cursor: pointer;
            }
        }
    }
}

.d-flex-category {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    .allergens-icon {
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    .icon-preview {
        background-color: #adadad;
        padding: 10px;
        border-radius: 5px;
        margin-right: 10px;
        height: 49px;
        margin-bottom: 10px;
        position: relative;
        img {
            width: 30px;
        }
        .remove-icon {
            background-color: red;
            color: #fff;
            width: 15px;
            height: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: -5px;
            right: -5px;
            cursor: pointer;
            border-radius: 50%;
            border: none;
            i {
                font-size: 10px;
            }
        }
    }
    .category-icon-container {
        width: 100%;
        .form-control {
            color: #fff;
            height: 49px;
            background-color: $secondry;
            border-color: $secondry;
        }
    }
}

.table-subcategory {
    .fixed-width {
        max-width: 200px;
        width: 200px;
        text-align: left !important;
        a {
            color: $primary;
            cursor: pointer;
            padding: 7px;
            i {
                font-size: 16px;
            }
        }
    }
}

.ingredient-table {
    tbody>tr>td:first-child,
    thead>tr>th:first-child {
        text-align: left !important;
    }
}

.label-ingredient {
    background-color: transparent;
    color: $primary;
    padding: 5px 10px;
    display: inline-block;
    border-radius: 3px;
    margin-right: 5px;
    margin-bottom: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    .ingredient-name {
        max-width: 60%;
        width: 100%;
        span {
            font-size: 11px;
        }
    }
    input {
        border: none;
        border-bottom: 1px solid #000;
        background-color: transparent;
        color: #333;
        max-width: 60px;
        text-align: center
    }
    label {
        line-height: inherit !important;
        color: $primary !important;
    }
    &:last-child {
        margin-right: 0;
    }
    .label-remove {
        cursor: pointer;
        background-color: #fdab00;
        color: #fff;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 7px;
    }
}

.total-count {
    padding: 5px 5px 20px;
    border-top: 1px solid #000;
    text-align: right;
    span {
        display: block;
        text-align: right;
        margin-bottom: 5px;
    }
}

.form-group {
    .input-group {
        margin-bottom: 0;
    }
}

// .scrtabs-tabs-fixed-container{
//     position: absolute;
//     top: 2px;
//     left: 100px;
// }
.categories {
    .nav.nav-tabs {
        background-color: transparent !important;
        max-width: 95%;
        li {
            a {
                color: $primary;
                text-transform: uppercase;
                font-weight: bold;
                padding: 10px 30px 10px 0;
                &:hover {
                    background-color: transparent;
                    color: #fcab00;
                }
            }
            &.active {
                a {
                    background-color: transparent;
                    color: #fcab00;
                }
            }
        }
    }
    .tab-content {
        float: left;
        width: 100%;
        padding: 0;
    }
}

.add-table {
    padding: 20px;
    max-width: 100px;
    margin-right: 20px;
    width: 100%;
    height: 100px;
    border: 1px dashed $primary;
    display: flex;
    align-items: center;
    justify-content: center;
}

.room-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 45px;
    .add-room {
        border: 2px dashed $primary;
        padding: 20px;
        max-width: 130px;
        margin-right: 20px;
        width: 100%;
        height: 130px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        i {
            font-size: 24px;
        }
        .name {
            position: absolute;
            bottom: 5px;
            width: 100%;
            text-align: center;
            left: 0;
        }
    }
}

.table-panel-container {
    &.panel {
        .panel-heading {
            padding: 14px 0;
        }
        .panel-body {
            padding: 15px 0;
        }
    }
}

.item-container {
    display: flex;
    flex-wrap: wrap;
    .item {
        max-width: 230px;
        height: 230px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        width: 100%;
        margin-right: 20px;
        margin-bottom: 20px;
        img {
            max-width: 100%;
        }
        &.add-item {
            border: 2px dashed $primary;
            i {
                font-size: 24px;
            }
            .name {
                background-color: transparent;
                color: #333;
            }
        }
        .name {
            background-color: rgba(0, 0, 0, .5);
            color: #fff;
            padding: 10px 0;
            width: 100%;
            position: absolute;
            bottom: 0;
            text-align: center;
            cursor: pointer;
            left: 0;
        }
        .remove-items {
            position: absolute;
            top: -10px;
            right: -10px;
            background-color: rgba(0, 0, 0, .5);
            width: 30px;
            height: 30px;
            border-radius: 100%;
            border: none;
            color: #fff;
        }
        .edit-items {
            position: absolute;
            top: 40%;
            right: 40%;
            background-color: rgba(0, 0, 0, .5);
            width: 30px;
            height: 30px;
            border-radius: 100%;
            border: none;
            color: #fff;
        }
    }
}

.text-btn {
    color: $secondry;
    font-weight: bold;
    border: none;
    background-color: transparent;
    margin-bottom: 10px;
}

.subcategory-control {
    .howtouse {
        margin-bottom: 10px;
        position: relative;
        .remove {
            position: absolute;
            border: none;
            background-color: red;
            width: 20px;
            height: 20px;
            right: -6px;
            top: -6px;
            color: #fff;
            border-radius: 50%;
        }
    }
}

// Radio Button
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type="radio"]:checked+label,
[type="radio"]:not(:checked)+label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}

[type="radio"]:checked+label:before,
[type="radio"]:not(:checked)+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}

[type="radio"]:checked+label:after,
[type="radio"]:not(:checked)+label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: $secondry;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

[type="radio"]:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="radio"]:checked+label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

// Search Category
.search-category {
    position: relative;
    width: 80%;
    .category {
        position: absolute;
        top: 34px;
        left: 0;
        height: 200px;
        overflow: hidden;
        z-index: 5;
        background-color: #fff;
        width: 100%;
        box-shadow: 0 0 1px -1px #000;
        ul {
            padding: 0;
            list-style: none;
            li {
                padding: 7px 12px;
                cursor: pointer;
                &:hover {
                    background-color: #dedede;
                }
            }
        }
    }
}

.angucomplete-holder {
    position: relative;
    .angucomplete-dropdown {
        position: absolute;
        background-color: #fff;
        top: 34px;
        width: 100%;
        z-index: 10;
        box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
        .angucomplete-row {
            div {
                padding: 7px 12px;
                cursor: pointer;
                &:hover {
                    background-color: #dedede;
                }
            }
        }
    }
}

.menu-tabs {
    list-style: none;
    padding: 0px 0;
    margin: 0;
    margin-bottom: 10px;
    background-color: #dedede;
    border-radius: 5px 5px 0px 0;
    overflow: hidden;
    li {
        display: inline-block;
        &.active {
            a {
                color: #fff;
                background: $secondry;
                font-weight: bold;
                &:hover {
                    color: #fff;
                }
            }
        }
        a {
            color: #333;
            padding: 10px 15px;
            display: inline-block;
            text-transform: uppercase;
            &:hover,
            &:active {
                color: #333;
            }
        }
    }
}

.add-unit {
    .form-control {
        width: 45%;
    }
}

.catogory-container {
    display: flex;
    flex-wrap: wrap;
    .form-control {
        margin-bottom: 10px;
    }
    .category {
        width: 130px;
        height: 130px;
        position: relative;
        margin-right: 10px;
        margin-bottom: 10px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            max-width: 40%;
        }
        p.name {
            position: absolute;
            bottom: 0;
            width: 100%;
            left: 0;
            padding: 5px 0;
            background-color: rgba(0, 0, 0, .5);
            color: #fff !important;
            margin: 0;
            text-align: center;
        }
    }
}

.table>tbody>tr>td:first-child,
.table>thead>tr>th:first-child {
    text-align: left !important;
}

.footer-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    .d-flex{
        button{
            background-color: transparent;
            width: auto;
        }
    }
    .btn {
        width: 100%;
        border-radius: 0;
    }
}

.order-item-container {
    display: flex;
    margin-top: 10px;
    align-items: center;
    .items {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-top: 20px;
        margin-right: 20px;
        .img {
            position: relative;
            width: 130px;
            height: 130px;
            img {
                max-width: 100%;
                border-radius: 0%;
                &.icon-img {
                    max-width: 50%;
                }
            }
            .name {
                position: absolute;
                bottom: 0;
                color: #fff;
                background-color: rgba(0, 0, 0, 0.5);
                margin-bottom: 0;
                width: 100%;
                padding: 5px;
                text-align: center;
            }
        }
        .quantity-btn {
            position: absolute;
            button {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background: rgba(0, 0, 0, 0.5);
                border: none;
                color: #fff;
            }
        }
        .varient-btn {
            position: absolute;
            top: -5px;
            right: -5px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background: rgba(0, 0, 0, 0.5);
            border: none;
        }
    }
    .img {
        border-radius: 50%;
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        img {
            max-width: 100%;
            border-radius: 100%;
            &.icon-img {
                max-width: 60%;
            }
        }
        .order-item-quantity {
            position: absolute;
            top: 0;
            right: 0;
            background: red;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            color: #fff !important;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .order-item-detail {
        display: flex;
        width: 60%;
        flex-direction: column;
        margin-left: 10px;
        .name {
            max-width: 60%;
            width: 100%;
            margin: 0;
        }
    }
    .order-btn {
        width: 105px;
        button {
            background: #ce8b00;
            border: none;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            color: #fff;
            &.varient-btn {
                background-color: #a9a9a9;
            }
        }
    }
}

.modal {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.modal-height {
    max-height: 330px;
    overflow-y: auto;
}

.calc-height {
    height: calc(100% - 108px) !important;
}

.tabs-container {
    background-color: #dedede;
    ul {
        padding: 0 15px;
        list-style: none;
        overflow-x: auto;
        margin-bottom: 0;
        li {
            display: inline-block;
            padding: 5px 15px;
            border-bottom: 2px solid transparent;
            color: #fff;
            cursor: pointer;
            &.active {
                border-bottom: 2px solid #fff;
            }
        }
    }
}

.leftsidebar {
    position: fixed;
    top: 66px;
    padding: 20px;
    height: calc(100% - 66px);
    background-color: #F0F3F4;
    padding: 20px;
    left: 179px;
    width: calc(100% - 572px);
    padding: 8px 32px 8px 40px;
    z-index: 999;
    overflow-y: hidden;
    .content-top{
        background-color: #f0f3f4;
        align-items: center;
        display: flex;
        justify-content: space-between;
        .al-breadcrumb{
            padding: 0;
        }
    }
    h1{
        font-weight: 700;
        color: #666;
        width: auto;
        margin: 0;
        padding: 0;
        font-size: 24px;
        opacity: .9;
    }
    table{
        th{
            font-size: 23px;
        }
    }
    .height {
        height: calc(100% - 56px);
    }
    .btn-quantity {
        button {
            border: none;
            background-color: #fdab00;
            color: #fff;
            border-radius: 50%;
            width: 30px;
            height: 30px;
        }
    }
    .checkout-close-btn {
        position: absolute;
        right: 10px;
        width: 30px;
        height: 30px;
        top: 10px;
        border: none;
        border-radius: 50%;
        color: #fff;
        background-color: #fdab00;
    }
}

.step-container {
    background-color: $primary;
    margin-bottom: 10px;
    ul {
        li {
            &.active {
                color: #fbab0e;
                border-color: #fbab0e;
            }
        }
    }
}

.tabs-btn {
    button {
        width: 50%;
        border: none;
        padding: 8px 0;
        color: $primary;
        &.active {
            background-color: $primary;
            color: #fff;
        }
    }
}

.variant-container {
    display: block;
    font-size: 12px;
}

.order-sidebar {
    margin-right: 390px;
}

.leftorder-sidebar{
    left: 52px;
    width: calc(100% - 442px);
}

.admin-order {
    position: fixed;
    right: -100%;
    transition: 0.3s;
    width: 390px;
    height: calc(100% - 66px);
    top: 66px;
    background-color: #fff;
    z-index: 999;
    &.show {
        right: 0;
    }
    .leftsidebar{
        .modal-content{
            height: 100%;
        }
    }
    .modal-content {
        box-shadow: none !important;
        height: calc(100% - 64px);
    }
    .modal-body {
        height: 100%;
        padding: 15px 22px;
        height: calc(100% - 101px);
    }
    .order-header {
        padding: 20px;
        .cart-menu-btn {

            button {
                border: none;
                background-color: $secondry;
                border-radius: 2px;
                width: 100%;
                height: 30px;
                color: #fff;
                i {
                    color: #fff;
                    margin-right: 5px;
                }
            }
        }
        .table-name {
            font-size: 18px;
            font-weight: bold;
            text-align: center;
            width: 100%;
            .room-name {
                border-right: 2px solid #dedede;
                padding-right: 5px;
                margin-right: 5px;
            }
        }
        i {
            cursor: pointer;
            padding: 5px;
        }
    }
    .modal-header {
        padding: 5px 10px;
        display: flex;
        background-color: transparent;
        color: #fff;
        border-radius: 0 !important;
        border-bottom: 0;
        i {
            line-height: 24px;
            padding: 0px 5px;
            cursor: pointer;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 15px;
            background-color: #4b473f;
        }
    }
    .modal-title {
        color: #4b473f;
        position: relative;
        font-size: 22px;
        .save-variant {
            position: absolute;
            right: 0;
            background-color: #008000;
            border: none;
            padding: 3px 10px;
            font-size: 14px;
            border-radius: 3px;
            color: #fff;
        }
    }
}

.cart-header {
    background-color: #dedede;
    color: #333;
    .modal-title {
        color: #333;
    }
}

.input-group {
    span {
        cursor: pointer;
    }
}

.sub-total {
    position: absolute;
    bottom: 0;
    right: 5px;
}

.add-varient-btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #4b473f;
    border: none;
    color: #fff;
    &.variant-added {
        background-color: green;
    }
    &.variant-remove {
        background-color: red;
    }
}

.cart-menu-btn {
    // position: fixed;
    // top: 82px;
    // z-index: 99;
}

.guest-number-btn {
    width: 90px;
    i {
        margin-right: 5px !important;
        background-color: transparent !important;
        color: #333;
        font-size: 24px;
    }
}

.checkbox {
    /*Checkboxes styles*/
    input[type="checkbox"] {
        display: none;
    }
    input[type="checkbox"]+label {
        position: relative;
        padding-left: 35px;
        margin-bottom: 20px;
        font: 14px/20px 'Open Sans', Arial, sans-serif;
        display: flex;
        color: #333;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }
    input[type="checkbox"]+label:last-child {
        margin-bottom: 0;
    }
    input[type="checkbox"]+label:before {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        border: 3px solid #fdab00;
        position: absolute;
        left: 0;
        top: 0;
        opacity: .6;
        -webkit-transition: all .12s, border-color .08s;
        transition: all .12s, border-color .08s;
    }
    input[type="checkbox"]:checked+label:before {
        width: 10px;
        top: -5px;
        left: 5px;
        border-radius: 0;
        opacity: 1;
        border-top-color: transparent;
        border-left-color: transparent;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}

.table>tbody>tr>td:last-child, .table>thead>tr>th:last-child{
    width: 102px;
}

.order-item-table{
    padding-right: 0 !important;
}

.table>tbody>tr>td>table>tbody>tr>td:last-child{
    width: 92px;
}

.table>tbody>tr>td>table>tbody>tr>td{
    border: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.add-item-btn{
    i{
        background-color: transparent !important;
    }
}

.overflow-leftsidebar-content{
    height: calc(100vh - 290px);
    overflow-y: auto;
}

.varient-overflow-scroll{
    height: calc(100vh - 280px);
    overflow-y: auto;
}

.align-content-start{
    align-content: flex-start;
}

.modal-body{
    overflow-y: auto;
}

// @media (max-width : 620px){
//     .table-container{
//         max-width: 100%;
//         width: 28%;
//     }
// }