<div ba-panel ba-panel-class="profile-page">
  <div class="panel-content">
    <h3 class="with-line" style="padding:0">{{'ChangePassword' | translate}}</h3>
    <div class="row">
      <div class="col-md-12">
        <div class="alert color-green text-center" ng-show="passSuccessMsg" ng-bind="passSuccessMsg"></div>
        <div class="alert color-red text-center" role="alert" ng-show="passErrorMsg" ng-bind="passErrorMsg"></div>
        <div class="form-group row clearfix">
          <label for="inputPassword" class="col-sm-2 control-label">{{'OldPassword' | translate}}</label>
          <div class="col-sm-4">
            <input type="password" class="form-control" ng-model="Admin.oldPassword" id="inputOldPassword" placeholder="{{'OldPassword' | translate}}">
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group row clearfix">
          <label for="inputPassword" class="col-sm-2 control-label">{{'NewPassword' | translate}}</label>

          <div class="col-sm-4">
            <input type="password" class="form-control" ng-model="Admin.newPassword" id="inputNewPassword" placeholder="{{'NewPassword' | translate}}">
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group row clearfix">
          <label for="inputConfirmPassword" class="col-sm-2 control-label">{{'ConfirmPassword' | translate}}</label>
          <div class="col-sm-4">
            <input type="password" class="form-control" ng-model="Admin.confirmPassword" id="inputConfirmPassword" placeholder="{{'ConfirmPassword' | translate}}">
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="form-group row clearfix">
          <label for="inputConfirmPassword" class="col-sm-2 control-label"></label>
          <div class="col-sm-4">
            <button type="submit" class="btn btn-primary" ng-click="updatePassword(Admin)">{{'Submit' | translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>