<div class="widgets">
    <div class="row">
        <div class="col-md-12">
            <div id="variantmsg"></div>
            <div ba-panel ba-panel-class="with-scroll table-panel m-0">
                <menu-tabs></menu-tabs>
            </div>
            <div class="panel">
                <div class="panel-body">
                    <form class="form-horizontal" name="form" novalidate>
                        <div class="form-group">
                            <label for="input01" class="col-sm-2 control-label">
                                <strong>Name</strong>
                            </label>
                            <div class="col-sm-5">
                                <input type="text" name="VariantName" ng-model="Variant.name" class="form-control" placeholder="Name" required />
                                <span class="alert color-red" ng-show="form.VariantName.$dirty &&  form.VariantName.$error.required">Name is required.</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input01" class="col-sm-2 control-label">
                                <strong>Price</strong>
                            </label>
                            <div class="col-sm-5">
                                <div class="input-group">
                                    <span class="input-group-addon addon-left input-group-addon-secondry">€</span>
                                    <input type="text" float-number ng-model="Variant.price" class="form-control" name="price" placeholder="Price" required />
                                    <span class="alert color-red" ng-show="form.price.$dirty &&  form.price.$error.required">Price is required.</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input01" class="col-sm-2 control-label">
                                <strong>Category</strong>
                            </label>
                            <div class="col-sm-5">
                                <select class="form-control" data-ng-options="category._id as category.name for category in categories" ng-model="Variant.category"
                                    ng-change="categoryChanged(Variant.category)">
                                    <option value="?" selected="selected">Select Category</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input01" class="col-sm-2 control-label">
                                <strong>Sub Category</strong>
                            </label>
                            <div class="col-sm-5">
                                <select class="form-control" data-ng-options="subcat for subcat in subCategories" ng-model="Variant.subCategory">
                                    <option value="?" selected="selected">Select Sub Category</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input01" class="col-sm-2 control-label">
                            </label>
                            <div class="col-sm-5">
                                <button type="button" ng-show="variantId" class="btn bg-success" ng-click="editVariant()" ng-disabled="form.$invalid||variantAddRequest">Update</button>
                                <button type="button" ng-show="!variantId" class="btn bg-success" ng-click="addVariant()" ng-disabled="form.$invalid||variantAddRequest">Add</button>
                                <button type="button" class="btn btn-default" ui-sref="variant">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>