<div class="widgets">
    <div class="row">
        <div class="col-md-12">
            <div id="variantmsg"></div>
            <div ba-panel ba-panel-class="with-scroll table-panel m-0">
                <menu-tabs></menu-tabs>
            </div>
            <div class="panel">
                <div class="panel-body">
                    <form class="form-horizontal" name="form" novalidate>
                        <div class="form-group">
                            <label for="input01" class="col-sm-2 control-label">
                                <strong>Note</strong>
                            </label>
                            <div class="col-sm-5">
                                <input type="text" name="notes" ng-model="Note.notes" class="form-control" placeholder="Notes" required />
                                <span class="alert color-red" ng-show="form.notes.$dirty &&  form.notes.$error.required">Notes is required.</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input01" class="col-sm-2 control-label">
                                <strong>Category</strong>
                            </label>
                            <div class="col-sm-5">
                                <select class="form-control" data-ng-options="category._id as category.name for category in categories" ng-model="Note.category"
                                    ng-change="categoryChanged(Note.category)">
                                    <option value="?" selected="selected">Select Category</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input01" class="col-sm-2 control-label">
                                <strong>Sub Category</strong>
                            </label>
                            <div class="col-sm-5">
                                <select class="form-control" data-ng-options="subcat for subcat in subCategories" ng-model="Note.subCategory">
                                    <option value="?" selected="selected">Select Sub Category</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input01" class="col-sm-2 control-label">
                            </label>
                            <div class="col-sm-5">
                                <button type="button" ng-show="noteId" class="btn bg-success" ng-click="editNote()" ng-disabled="form.$invalid||noteAddRequest">Update</button>
                                <button type="button" ng-show="!noteId" class="btn bg-success" ng-click="addNote()" ng-disabled="form.$invalid||noteAddRequest">Add</button>
                                <button type="button" class="btn btn-default" ui-sref="variant">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>