<div ba-panel ba-panel-class="with-scroll table-panel m-0">
    <menu-tabs></menu-tabs>
</div>
<div ba-panel ba-panel-class="with-scroll table-panel mh-500">
    <div class="row">
        <div class="col-sm-6 mt-10 varient-container">
            <div class="panel-heading clearfix ph-0">
                <h3 class="panel-title"><strong>Variant</strong></h3>
            </div>
            <span class="add-btn">
                <a ui-sref="addvariant" class="btn btn-secondary btn-icon">
                    <i class="ion-plus-round"></i>
                </a>
            </span>
            <div class="text-center" ng-show="!(variants && variants.length)" style="float:left;width: 100%;">
                No Variant Created Yet
            </div>
            <table class="table ingredient-table" ng-show="variants && variants.length">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th class="action-btn">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="variant in variants">
                        <td ng-click="viewVariant(variant._id)">{{variant.name}}</td>
                        <td ng-click="viewVariant(variant._id)">€{{variant.price}}</td>
                        <td class="action-btn">
                            <a class="btn btn-secondary btn-icon" ng-click="updateVariant(variant._id)">
                                <i class="ion-edit"></i>
                            </a>
                            <a class="btn bg-red btn-icon" ng-click="removeVariant(variant._id)">
                                <i class="ion-trash-b"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-sm-6 mt-10 varient-container">
            <div class="panel-heading clearfix ph-0">
                <h3 class="panel-title"><strong>Notes</strong></h3>
            </div>
            <span class="add-btn">
                <a ui-sref="addnote" class="btn btn-secondary btn-icon">
                    <i class="ion-plus-round"></i>
                </a>
            </span>
            <div class="text-center" ng-show="!(notes && notes.length)" style="float:left;width: 100%;">
                No Note Created Yet
            </div>
            <table class="table ingredient-table" ng-show="notes && notes.length">
                <thead>
                    <tr>
                        <th>Notes</th>
                        <th class="action-btn">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="note in notes">
                        <td ng-click="viewNote(note._id)">{{note.notes}}</td>
                        <td class="action-btn">
                            <a class="btn btn-secondary btn-icon" ng-click="updateNote(note._id)">
                                <i class="ion-edit"></i>
                            </a>
                            <a class="btn bg-red btn-icon" ng-click="removeNote(note._id)">
                                <i class="ion-trash-b"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>