<div ba-panel ba-panel-class="with-scroll table-panel m-0">
    <menu-tabs></menu-tabs>
</div>
<div ba-panel>
    <form class="form-horizontal">
        <div id="variantlistmsg"></div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="name" class="col-sm-3 control-label">
                        <strong>{{'Name' | translate}}</strong>
                    </label>
                    <div class="col-sm-8">
                        <label class="col-sm-8">{{variantDetail.name}}</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-3 control-label">
                        <strong>{{'Price' | translate}}</strong>
                    </label>
                    <div class="col-sm-8">
                        <label class="col-sm-8">€{{variantDetail.price}}</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-3 control-label">
                        <strong>{{'Category' | translate}}</strong>
                    </label>
                    <div class="col-sm-8">
                        <label class="col-sm-8">{{variantDetail.category.name}}</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-3 control-label">
                        <strong>{{'subCategory' | translate}}</strong>
                    </label>
                    <div class="col-sm-8">
                        <label class="col-sm-8">{{variantDetail.subCategory}}</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="created_at" class="col-sm-3 control-label">
                        <strong>{{'createdAt' | translate}}</strong>
                    </label>
                    <div class="col-sm-8">
                        <label class="col-sm-8">{{variantDetail.created_at | date : 'dd/MM/yyyy'}}</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="updated_at" class="col-sm-3 control-label">
                        <strong>{{'updatedAt' | translate}}</strong>
                    </label>
                    <div class="col-sm-8">
                        <label class="col-sm-8">{{variantDetail.updated_at | date : 'dd/MM/yyyy'}}</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10 text-right">
                <a class="btn btn-success" ui-sref="variant">{{'Back' | translate}}</a>
            </div>
        </div>
    </form>
</div>