<ul class="menu-tabs">
    <li ng-click="selectTab(0)" ng-class="{'active':activeTab == 0}"><a ui-sref="editormenu">{{'Category' | translate}}</a></li>
    <li ng-click="selectTab(1)" ng-class="{'active':activeTab == 1}"><a ui-sref="viewcategory">{{'Articles' | translate}}</a></li>
    <li ng-click="selectTab(2)" ng-class="{'active':activeTab == 2}"><a  ui-sref="variant">{{'variantsAndNotes' | translate}}</a></li>
    <li ng-click="selectTab(3)" ng-class="{'active':activeTab == 3}"><a  ui-sref="ingredient">{{'Foodcost' | translate}}</a></li>    
</ul>