<form ng-if="userDetails.adminType == 2" name="Form.pieForm" id="Form" novalidate>
  <div class="row">
    <div class="col-sm-3">
      <h3>{{userDetails.firstName}}<span ng-if="userDetails.lastName">&nbsp;{{userDetails.lastName}}</span></h3>
    </div>
    <div class="col-sm-4">
      <div class="form-group row" ng-controller="datepickerpopupCtrl1">
        <label class="col-sm-4 mt-10" for="startDate">{{'startDate' | translate}}</label>
        <div class="col-sm-8">
          <div class="uib-datepicker-wrap">
            <div class="input-group disable-color">
              <span class="input-group-btn">
                <button type="button" class="btn btn-default calender-btn" ng-click="open1()">
                  <i class="glyphicon glyphicon-calendar"></i>
                </button>
              </span>
              <input type="text" class="form-control" id="startDate" ng-model="pieDate.startDate" name="startDate"
                uib-datepicker-popup="yyyy-MM-dd" datepicker-options="options" is-open="popup1.opened" close-text="Close"
                alt-input-formats="altInputFormats" show-button-bar="false" ng-click="open1()" ng-change="checkErr(pieDate.startDate,pieDate.endDate)"
                ng-required="true" readonly />
              <span class="input-group-btn">
                <button ng-show="pieDate.startDate" type="button" class="btn btn-default clear-date" ng-click="clearStartDate()">
                  <i class="fa fa-times-circle"></i>
                </button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group row" ng-controller="datepickerpopupCtrl1">
        <label class="col-sm-4 mt-10" for="endDate">{{'endDate' | translate}}</label>
        <div class="col-sm-8">
          <div class="uib-datepicker-wrap">
            <div class="input-group disable-color">
              <span class="input-group-btn">
                <button type="button" class="btn btn-default calender-btn" ng-click="open2()">
                  <i class="glyphicon glyphicon-calendar"></i>
                </button>
              </span>
              <input type="text" class="form-control" id="endDate" ng-model="pieDate.endDate" name="endDate"
                uib-datepicker-popup="yyyy-MM-dd" datepicker-options="options" is-open="popup2.opened" close-text="Close"
                alt-input-formats="altInputFormats" show-button-bar="false" ng-click="open2()" ng-change="checkErr(pieDate.startDate,pieDate.endDate)"
                ng-required="true" readonly />
              <span class="input-group-btn">
                <button ng-show="pieDate.endDate" type="button" class="btn btn-default clear-date" ng-click="clearEndDate()">
                  <i class="fa fa-times-circle"></i>
                </button>
              </span>
            </div>
          </div>
          <span class="color-red" ng-if="dateError">{{dateError}}</span>
        </div>
      </div>
    </div>
    <div class="col-sm-1">
      <div class="form-group">
        <button type="submit" class="btn bg-success text-uppercase" ng-click="filterData(pieDate.startDate,pieDate.endDate)"
          ng-disabled="dateError || !pieDate.endDate || !pieDate.startDate">{{'filter' | translate}}</button>
      </div>
    </div>
  </div>
</form>

<div class="row pie-charts" ng-if="userDetails.adminType == 2 && pieData">
  <div class="pie-chart-item-container">
    <div ba-panel>
      <div class="pie-chart-item">
        <div class="description">
          <div>{{'People' | translate}}</div>
          <div class="description-stats">{{ pieData.noOfPeople }}</div>
        </div>
        <i class="chart-icon i-person"></i>
      </div>
    </div>
  </div>
  <div class="pie-chart-item-container">
    <div ba-panel>
      <div class="pie-chart-item">
        <div class="description">
          <div>{{'Averagespending' | translate}}</div>
          <div class="description-stats">€{{ pieData.averageCost }}</div>
        </div>
        <i class="chart-icon i-money"></i>
      </div>
    </div>
  </div>
  <div class="pie-chart-item-container">
    <div ba-panel>
      <div class="pie-chart-item">
        <div class="description">
          <div>{{'Sales' | translate}}</div>
          <div class="description-stats">€{{ pieData.totalSale }}</div>
        </div>
        <i class="chart-icon i-face"></i>
      </div>
    </div>
  </div>
  <div class="pie-chart-item-container">
    <div ba-panel>
      <div class="pie-chart-item">
        <div class="description">
          <div>{{'Foodcost' | translate}}</div>
          <div class="description-stats">€{{ pieData.totalFoodCost }}</div>
        </div>
        <i class="chart-icon i-refresh"></i>
      </div>
    </div>
  </div>
</div>

<div class="row" ng-if="userDetails.adminType == 2">
  <div class="col-xlg-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="row">
      <div class="col-sm-12" ba-panel ba-panel-title="{{'SeatCost' | translate}}"
        ba-panel-class="medium-panel">
        <div id="chartContainer1" style="height: 300px; width: 100%;">
        </div>
      </div>
    </div>
  </div>
  <div class="col-xlg-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="row">
      <div class="col-sm-12" ba-panel ba-panel-title="{{'Sales' | translate}}"
        ba-panel-class="medium-panel">
        <div id="chartContainer2" style="height: 300px; width: 100%;">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row dashboard-statics-chart" ng-if="userDetails.adminType == 2 && categoryData.length">
  <div ng-if="doughnutData" class="col-lg-6 col-md-12 col-sm-12" ba-panel ba-panel-title="{{'categories' | translate}}"
    ba-panel-class="medium-panel traffic-panel bgtrafficpanel">
    <div class="newitem-forsearch-category" ng-if="categoryData.length">
      <input class="form-control newinput-items" ng-model="searchcategory.text" type="text" placeholder="{{'SearchCategory' | translate}}" />
    </div>
    <div class="cart-list-container">
      <div class="channels-block newpanel-channels " ng-class="{'transparent': transparent}">
        <div class="chart-bg"></div>
        <div class="traffic-chart circler-trafficchart" id="trafficChart1">
          <div class="canvas-holder new-canvasholderr">
            <canvas id="chart-area1"></canvas>
            <div class="traffic-text">
            </div>
          </div>
        </div>
        <div class="channels-info">
          <div>
            <div class="channels-info-item" ng-repeat="label in doughnutData.labels" ng-init="i = $index; data = doughnutData.datasets[0]">
              <div class="legend-color" style="background-color: {{data.backgroundColor}}"></div>
              <p>{{label}}<span class="channel-number">+{{data.percentage[i]}}%</span></p>
              <div class="progress progress-sm channel-progress">
                <div class="progress-bar " role="progressbar" aria-valuenow="{{data.percentage[i]}}" aria-valuemin="0"
                  aria-valuemax="100" style="width: {{item.percentage}}%">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div ng-if="categoryData.length" class="ngnewscope-categ cate-cateitmnw">
        <ul class="category-list">
          <li class="c-p" ng-repeat="category in categoryData | filter : searchcategory.text track by $index" ng-click="selectCategory(category)">
            <i style="color: {{category.bgcolor}}" class="fa fa-circle" aria-hidden="true"></i>
            <span class="cate-categoryitems" title="{{category.category}}"> {{category.category}}</span> <span class="perc-percentageitems">
              +{{category.percentage}}%</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div ng-if="doughnutData2 && categoryData.length && categoryDetails.length" class="col-lg-6 col-md-12 col-sm-12"
    ba-panel ba-panel-title="{{'categoryVolumes' | translate}}" ba-panel-class="medium-panel traffic-panel bgtrafficpanel">
    <div class="form-group" ng-if="categoryData.length">
      <div class="newitem-forsearch" ng-if="categoryDetails.length">
        <input class="form-control newsearch-formarea" ng-model="searchitem.text" type="text" placeholder="{{'SearchItem' | translate}}" />
        <select class="form-control select-filter classic newselect-formgroup" ng-model="selectedCategory" ng-change="selectCategory(selectedCategory)"
          ng-options="selectedCategory as selectedCategory.category for selectedCategory in categoryData track by selectedCategory._id">
        </select>
      </div>
    </div>
    <div class="channels-block itemsearch-cate" ng-class="{'transparent': transparent}">
      <div class="cart-list-container">
        <div class="chart-bg"></div>
        <div class="traffic-chart" id="trafficChart2">
          <div class="canvas-holder new-canvasholderr">
            <canvas id="chart-area2" class="circlecolor0chart" width="280" height="280"></canvas>
            <div class="traffic-text trafficbackg-text">
              <span class="textname0category select-categitemscir" title="{{selectedCategory.category}}">{{selectedCategory.category}}</span>
              <div class="bg-text-colorimg" ng-style="{'background-color': !selectedCategory.isIcon ? '#ffffff' : selectedCategory.color}">
                <img class="imgtag-images" ng-if="!selectedCategory.isIcon" ng-src="{{selectedCategory.logo.small}}"
                  alt="" />
                <img class="imgtag-iconimage" ng-if="selectedCategory.isIcon" ng-src="{{selectedCategory.icon}}" alt="" />

              </div>
            </div>
          </div>
          <div class="channels-info">
            <div class="channels-info-item" ng-repeat="label in doughnutData2.labels track by $index" ng-init="i = $index; data = doughnutData2.datasets[0]">
              <div class="legend-color" style="background-color: {{data.backgroundColor}}"></div>
              <p>{{label}}<span class="channel-number">+{{data.percentage[i]}}%</span></p>
              <div class="progress progress-sm channel-progress">
                <div class="progress-bar " role="progressbar" aria-valuenow="{{data.percentage[i]}}" aria-valuemin="0"
                  aria-valuemax="100" style="width: {{item.percentage}}%">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div ng-if="categoryDetails.length" class="ngnewscope-categ itemsearch-catenwe newpanel-channels">
          <ul class="category-list">
            <li class="c-p" ng-repeat="data in categoryDetails | filter : searchitem.text track by $index">
              <i style="color: {{data.bgcolor}}" class=" fa fa-circle" aria-hidden="true"></i>
              <span class="cate-categoryitems" title="{{data.item}}"> {{data.item}}</span> <span class="perc-percentageitems">{{data.count}}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="row pie-charts" ng-if="userDetails.adminType == 2 && pieData.waiter.length">
  <div class="pie-chart-item-container" ng-repeat="waiter in pieData.waiter">
    <div ba-panel>
      <div class="pie-chart-item">
        <div class="description">
          <div>{{waiter.firstName}}</div>
          <div class="description-stats">€{{waiter.totalSales}}</div>
        </div>
        <i class="chart-icon i-person"></i>
      </div>
    </div>
  </div>
</div>