<div class="categories">
    <div id="roomlistmsg" class="alert_message"></div>
    <div class="widgets">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div ba-panel ba-panel-class="table-panel mh-500">
                    <span class="add-btn" title="Add Room">
                        <button type="button" class="text-btn" data-toggle="modal" ng-click="openAddRoom('app/pages/rooms/views/add.html', 'md')">Add Room</button>
                    </span>
                    <div>
                        <div ng-show="rooms&&rooms.length" ng-init="indextab = 0">
                            <uib-tabset active="indextab">
                                <uib-tab ng-repeat="room in rooms track by $index" heading="{{room.name}}">
                                    <div ba-panel ba-panel-title="{{room.name}}" ba-panel-class="table-panel-container mh-500">
                                        <div class="update-name" ng-show="editBtn === $index">
                                            <input type="text" ng-model="editRoom.name" />
                                            <button type="submit" class="btn bg-success" ng-click="updateRoom()">Update</button>
                                        </div>                                        
                                        <span class="add-btn pt-r-50" title="Edit Room">
                                            <!-- <a ng-click="openEditRoom(room,'app/pages/rooms/views/editRoom.html', 'md')" class="btn btn-default btn-icon">
                                                <i class="icon-pencil"></i>
                                            </a> -->
                                            <a ng-click="openEditRoom(room, $index)" class="btn btn-secondary btn-icon">
                                                <i class="ion-edit"></i>
                                            </a>
                                        </span>
                                        <span class="delete-btn " title="Delete Room">
                                            <a ng-click="removeRoom(room._id)" class="btn bg-red btn-icon">
                                                <i class="ion-trash-b"></i>
                                            </a>
                                        </span>
                                        <div class="room-container" ng-init="tableIndex = ($index+1)-1">
                                            <div ng-repeat="table in room.tables" class="table-container" ng-style="table.status == 0 ? {'background-color':'#c5c8cd'} : table.status == 1 ? {'background-color':'#add278'} : table.status == 2 ? {'background-color':'yellow'} :{'background-color':''}">
                                                <div class="room-table" ng-click="openCreateOrder(table,room,'app/pages/rooms/views/createOrder.html', 'md')">
                                                    <div class="table-name">
                                                        {{table.name}}
                                                    </div>
                                                </div>
                                                <div class="edit-table-btn" ng-show="editBtn == tableIndex">
                                                    <a title="Edit Table"  ng-click="openEditTable(table,room._id,'app/pages/rooms/views/editTable.html', 'md')">
                                                        <i class="ion-edit"></i>
                                                    </a>
                                                </div>

                                                <a title="Delete Table" ng-show="editBtn == tableIndex" ng-click="removeTable(room._id, table._id)" class="delete-table-btn">
                                                    <i class="ion-trash-b"></i>
                                                </a>
                                            </div>
                                            <div class="add-room" ng-click="openAddTable(room._id,'app/pages/rooms/views/addTable.html', 'md')">
                                                <i class="icon-plus"></i>
                                                <div class="name">
                                                    Add
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </uib-tab>
                            </uib-tabset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="admin-order" ng-class="{'show' : showOrder}">
    <div class="order-header d-flex justify-space-between">        
        <div class="table-name">Table 1</div>
        <i class="icon-close"></i>
    </div>    
    <step-list></step-list>
</div>