<div class="categories">
  <div id="roomlistmsg" class="alert_message"></div>
  <div class="widgets">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div ba-panel ba-panel-class="table-panel mh-500">
          <span class="add-btn" title="Add Room">
            <button type="button" class="text-btn" data-toggle="modal" ng-click="openAddRoom('app/pages/rooms/views/add.html', 'md')">Add Room</button>
          </span>
          <div>
            <div ng-show="rooms&&rooms.length" ng-init="indextab = 0">
              <uib-tabset active="indextab">
                <uib-tab ng-repeat="room in rooms track by $index" heading="{{room.name}}">
                  <div ba-panel ba-panel-title="{{room.name}}" ba-panel-class="table-panel-container mh-500">
                    <div class="update-name" ng-show="editBtn === $index">
                      <input type="text" ng-model="editRoom.name" />
                      <button type="submit" class="btn bg-success" ng-click="updateRoom()">Update</button>
                    </div>
                    <span class="add-btn pt-r-50" title="Edit Room">
                      <a ng-click="openEditRoom(room, $index)" class="btn btn-secondary btn-icon">
                        <i class="ion-edit"></i>
                      </a>
                    </span>
                    <span class="delete-btn " title="Delete Room">
                      <a ng-click="removeRoom(room._id)" class="btn bg-red btn-icon">
                        <i class="ion-trash-b"></i>
                      </a>
                    </span>
                    <div class="room-container" ng-init="tableIndex = ($index+1)-1">
                      <div ng-repeat="table in room.tables" class="table-container" ng-style="table.orderId.length ? {'background-color':'#add278'} : {'background-color':'#c5c8cd'}">
                        <div class="room-table" ng-click="openCreateOrder(table,room)">
                          <div class="table-name">
                            {{table.name}}
                          </div>
                        </div>
                        <div class="edit-table-btn" ng-show="editBtn == tableIndex">
                          <a title="Edit Table" ng-click="openEditTable(table,room._id,'app/pages/rooms/views/editTable.html', 'md')">
                            <i class="ion-edit"></i>
                          </a>
                        </div>

                        <a title="Delete Table" ng-show="editBtn == tableIndex" ng-click="removeTable(room._id, table._id)" class="delete-table-btn">
                          <i class="ion-trash-b"></i>
                        </a>
                      </div>
                      <div class="add-room" ng-click="openAddTable(room._id,'app/pages/rooms/views/addTable.html', 'md')">
                        <i class="icon-plus"></i>
                        <div class="name">
                          Add
                        </div>
                      </div>
                    </div>
                  </div>
                </uib-tab>
              </uib-tabset>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="admin-order" ng-class="{'show' : showOrder}">
  <div class="order-header d-flex justify-space-between">
    <div class="cart-menu-btn">
      <button type="button" ng-click="showLeftSide();changeTab(1)" ng-if="!showLedtSideBar" ng-disabled="!Order.showMenu">
        <i class="icon-notebook"> Menu
      </button>
      <button type="button" ng-click="hideLeftSide()" ng-if="showLedtSideBar && tableData.orderId.length">
        Table
      </button>
      <button type="button" ng-click="hideLeftSide();changeTab(0)" ng-if="showLedtSideBar && !tableData.orderId.length">
        Table
      </button>
    </div>
    <div class="table-name">
      <span class="room-name">{{roomData.name}}</span> {{tableData.name}}</div>
    <i class="icon-arrow-right" ng-click="cancelCreateOrder()"></i>
  </div>
  <div class="modal-content" ng-if="activeTab[0]">
    <div class="modal-body">
      <div class="form-group">
        <label for="exampleInputPassword1">Number of Person</label>
        <input type="number" class="form-control" placeholder="Number of Person" ng-model="Order.noOfPeople" required>
        <span class="alert color-red" ng-if="Order.error">{{Order.errorMsg}}</span>
      </div>
      <button type="button" class="btn btn-primary" ng-click="makeOrder()">Make an order</button>
    </div>
  </div>
  <div class="leftsidebar" ng-if="showLedtSideBar || showLedtSideBar1">
    <div class="modal-content" ng-if="activeTab[1]">
      <div class="content-top">
        <h1 class="al-title">Menu</h1>
        <ul class="breadcrumb al-breadcrumb">
          <li>
            <a href="#/dashboard">Home</a>
          </li>
          <li>Menu</li>
        </ul>
      </div>
      <div class="modal-body pt-0">
        <div class="row">
          <div class="col-sm-12 d-flex catogory-container mt-10 overflow-y">
            <input class="form-control" ng-model="searchText" type="text" placeholder="Search Category" />
            <div class="category" ng-repeat="category in categories | filter : searchText" ng-click="showItems(category)" ng-style="{'background-color' : category.color}">
              <img ng-src="{{category.icon}}">
              <p class="name">{{category.name}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal-content" ng-if="activeTab[2]">
      <div class="content-top">
        <h1 class="al-title">Menu</h1>
        <ul class="breadcrumb al-breadcrumb">
          <li>
            <a href="#/dashboard">Home</a>
          </li>
          <li>Menu</li>
        </ul>
      </div>
      <div class="modal-header">
        <i class="icon-arrow-left" ng-click="changeTab(1)" ng-style="{'background-color' : Order.selectedCategory.color}"></i>
        <h4 class="modal-title" id="myModalLabel3">{{Order.selectedCategory.name}}</h4>
      </div>
      <div class="tabs-container">
        <ul ng-style="{'background-color' : Order.selectedCategory.color}">
          <li ng-class="{'active':Order.selectedSubcategory[-1]}" ng-click="filterBySubcategory()">All</li>
          <span ng-if="Order.selectedCategory.subCategory.length">
            <li ng-repeat="subCategory in Order.selectedCategory.subCategory track by $index" ng-class="{'active':Order.selectedSubcategory[$index]}"
              ng-click="filterBySubcategory(subCategory,$index)">
              {{subCategory}}
            </li>
          </span>
        </ul>
      </div>
      <div class="modal-body pt-0 mt-10">
        <div ng-if="!Order.categoryItems[$baRoomService.getTabData().step]">
          No Item Found
        </div>
        <div ng-if="Order.categoryItems[$baRoomService.getTabData().step]">
          <input class="form-control" ng-model="searchItem" type="text" placeholder="Search Item" />
          <div class="d-flex flex-wrap">
            <div ng-repeat="item in Order.categoryItems[$baRoomService.getTabData().step] | filter : searchItem">
              <div class="order-item-container d-flex" ng-if="subcategory && (item.subCategory == subcategory)">
                <div class="items" ng-style="{'background-color' : item.category.color}">
                  <div class="img">
                    <img ng-if="!item.logo.small && item.category.isIcon" class="icon-img" ng-src="{{item.category.icon}}" alt="" />
                    <img ng-if="!item.logo.small && !item.category.isIcon && item.category.logo.small" ng-src="{{item.category.logo.small}}"
                      alt="Category Logo" />
                    <img ng-if="item.logo.small" ng-src="{{item.logo.small}}" alt="Item Logo" />
                    <p class="name">{{item.name}}</p>
                  </div>

                  <div class="quantity-btn">
                    <button type="button" ng-click="increaseValue(item)" value="Increase Value">
                      <i class="fa fa-plus"></i>
                    </button>
                  </div>
                  <button type="button" class="varient-btn" class="varient-btn" ng-click="viewVarient(item)">
                    <img src="assets/img/icon_edit.png" alt="" />
                  </button>
                </div>
              </div>
              <div class="order-item-container d-flex justify-space-between" ng-if="!subcategory">
                <div class="items" ng-style="{'background-color' : item.category.color}">
                  <div class="img">
                    <img ng-if="!item.logo.small && item.category.isIcon" class="icon-img" ng-src="{{item.category.icon}}" alt="" />
                    <img ng-if="!item.logo.small && !item.category.isIcon && item.category.logo.small" ng-src="{{item.category.logo.small}}"
                      alt="Category Logo" />
                    <img ng-if="item.logo.small" ng-src="{{item.logo.small}}" alt="Item Logo" />
                    <p class="name">{{item.name}}</p>
                  </div>
                  <div class="quantity-btn">
                    <button type="button" ng-click="increaseValue(item)" value="Increase Value">
                      <i class="fa fa-plus"></i>
                    </button>
                  </div>
                  <button type="button" class="varient-btn" class="varient-btn" ng-click="viewVarient(item)">
                    <img src="assets/img/icon_edit.png" alt="" />
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal-content" ng-if="activeTab[3]">
      <div class="content-top">
        <h1 class="al-title">Menu</h1>
        <ul class="breadcrumb al-breadcrumb">
          <li>
            <a href="#/dashboard">Home</a>
          </li>
          <li>Menu</li>
        </ul>
      </div>
      <div class="modal-header">
        <i class="icon-arrow-left" ng-click="hideVarient()"></i>
        <h4 class="modal-title" id="myModalLabel3" ng-if="Order.selectedCategory">Choose Variant
          <button class="save-variant" ng-click="saveVariantData()">Save</button>
        </h4>
      </div>
      <div class="modal-body">
        <h5>Quantity</h5>
        <div class="input-group">
          <span class="input-group-addon addon-left input-group-addon-primary" ng-click="decreaseQty()">
            <i class="icon-minus"></i>
          </span>
          <div class="text-center input-value">{{variantData.quantity}}</div>
          <span class="input-group-addon addon-right input-group-addon-primary" ng-click="increaseQty()">
            <i class="icon-plus"></i>
          </span>
        </div>
        <div *ngIf="variantError" class="color-red">{{variantError}}</div>
        <h5>Variant and Notes</h5>
        <div class="tabs-btn d-flex">
          <button type="button" ng-click="tabActive(1)" ng-class="{'active':Order.activeTab[0]}">Variants</button>
          <button type="button" ng-click="tabActive(2)" ng-class="{'active':Order.activeTab[1]}">Notes</button>
        </div>
        <div class="varient-list" ng-if="Order.activeTab[0]">
          <table class="table">
            <tbody>
              <tr ng-repeat="varient in variantList">
                <td>{{varient.name}}</td>
                <td>&euro;{{varient.price}}</td>
                <td>
                  <button type="button" class="add-varient-btn" ng-class="{'variant-remove' : varient.status == 0}" id="decrease" value="Decrease Value"
                    ng-click="addRemoveVariant(varient,0)">
                    <i class="icon-minus"></i>
                  </button>
                  <button type="button" class="add-varient-btn" ng-class="{'variant-added' : varient.status == 1}" id="increase" value="Increase Value"
                    ng-click="addRemoveVariant(varient,1)">
                    <i class="icon-plus"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="varient-list" ng-if="Order.activeTab[1]">
          <table class="table">
            <tbody>
              <tr ng-repeat="note in noteList track by $index">
                <td>{{note.notes}}</td>
                <td>
                  <input type="checkbox" ng-model="notes[note.notes]" ng-change="addNote(note.notes, $index)" />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="modal-content" ng-if="activeTab[5]">
      <div class="modal-header">
        <i class="icon-arrow-left" ng-click="hideVarient1()"></i>
        <h4 class="modal-title" id="myModalLabel4" ng-if="Order.selectedCategory">Edit Item
          <button class="save-variant" ng-click="saveVariantData1()">Save</button>
        </h4>
      </div>
      <div class="modal-body">
        <h5>Quantity</h5>
        <div class="input-group">
          <span class="input-group-addon addon-left input-group-addon-primary" ng-click="decreaseQty1()">
            <i class="icon-minus"></i>
          </span>
          <div class="text-center input-value">{{variantData1.quantity}}</div>
          <span class="input-group-addon addon-right input-group-addon-primary" ng-click="increaseQty1()">
            <i class="icon-plus"></i>
          </span>
        </div>
        <div ng-if="variantError1" class="color-red">{{variantError1}}</div>
        <div ng-class="{'pointer-none' : nonVariantData}">
          <h5>Variant and Notes</h5>
          <div class="tabs-btn d-flex">
            <button type="button" ng-click="tabActive(1)" ng-class="{'active':Order.activeTab[0]}">Variants</button>
            <button type="button" ng-click="tabActive(2)" ng-class="{'active':Order.activeTab[1]}">Notes</button>
          </div>
          <div class="varient-list" ng-if="Order.activeTab[0]">
            <table class="table">
              <tbody>
                <tr ng-repeat="varient in variantList1">
                  <td>{{varient.name}}</td>
                  <td>&euro;{{varient.price}}</td>
                  <td>
                    <button type="button" class="add-varient-btn" ng-class="{'variant-remove' : varient.status == 0}" id="decrease" value="Decrease Value"
                      ng-click="addRemoveVariant1(varient,0)">
                      <i class="icon-minus"></i>
                    </button>
                    <button type="button" class="add-varient-btn" ng-class="{'variant-added' : varient.status == 1}" id="increase" value="Increase Value"
                      ng-click="addRemoveVariant1(varient,1)">
                      <i class="icon-plus"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="varient-list" ng-if="Order.activeTab[1]">
            <table class="table">
              <tbody>
                <tr ng-repeat="note in noteList1 track by $index">
                  <td>{{note.notes}}</td>
                  <td>
                    <input type="checkbox" ng-model="notes1[note.notes]" ng-change="addNote1(note.notes, $index)" />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="modal-content" ng-if="activeTab[6]">
      <div class="modal-header">
        <i class="icon-arrow-left" ng-click="hideEditOrderItem()"></i>
        <h4 class="modal-title" id="myModalLabel5">Edit Item
          <button class="save-variant" ng-click="saveEditOrderItem()">Save</button>
        </h4>
      </div>
      <div class="modal-body">
        <h5>Quantity</h5>
        <div class="input-group">
          <span class="input-group-addon addon-left input-group-addon-primary" ng-click="decreaseQty2()">
            <i class="icon-minus"></i>
          </span>
          <div class="text-center input-value">{{variantData2.quantity}}</div>
          <span class="input-group-addon addon-right input-group-addon-primary" ng-click="increaseQty2()">
            <i class="icon-plus"></i>
          </span>
        </div>
        <div ng-if="variantError2" class="color-red">{{variantError2}}</div>
        <div ng-class="{'pointer-none' : editNonVariantData}">
          <h5>Variant and Notes</h5>
          <div class="tabs-btn d-flex">
            <button type="button" ng-click="tabActive(1)" ng-class="{'active':Order.activeTab[0]}">Variants</button>
            <button type="button" ng-click="tabActive(2)" ng-class="{'active':Order.activeTab[1]}">Notes</button>
          </div>
          <div class="varient-list" ng-if="Order.activeTab[0]">
            <table class="table">
              <tbody>
                <tr ng-repeat="varient in variantList2">
                  <td>{{varient.name}}</td>
                  <td>&euro;{{varient.price}}</td>
                  <td>
                    <button type="button" class="add-varient-btn" ng-class="{'variant-remove' : varient.status == 0}" id="decrease" value="Decrease Value"
                      ng-click="addRemoveVariant2(varient,0)">
                      <i class="icon-minus"></i>
                    </button>
                    <button type="button" class="add-varient-btn" ng-class="{'variant-added' : varient.status == 1}" id="increase" value="Increase Value"
                      ng-click="addRemoveVariant2(varient,1)">
                      <i class="icon-plus"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="varient-list" ng-if="Order.activeTab[1]">
            <table class="table">
              <tbody>
                <tr ng-repeat="note in noteList2 track by $index">
                  <td>{{note.notes}}</td>
                  <td>
                    <input type="checkbox" ng-model="notes2[note.notes]" ng-change="addNote2(note.notes, $index)" />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-content">
    <div class="modal-header cart-header" ng-if="!showLedtSideBar">
      <i class="icon-people"></i>
      <h4 class="modal-title">{{Order.noOfPeople}}</h4>
      <div ng-if="tableData.orderId.length" class="d-flex guest-number-btn">
        <i class="icon-minus" ng-click="decreasePeople()"></i>
        <i class="icon-plus" ng-click="increasePeople()"></i>
      </div>
    </div>
    <step-list ng-if="showLedtSideBar"></step-list>
    <div class="modal-body calc-height pt-0 checkbox">
      <div id="createOrderMsg"></div>
      <div ng-if="!tableData.orderId.length && !(Order.selectedItems)">No Item Added</div>
      <div ng-if="tableData.orderId.length && !showLedtSideBar" class="overflow-scroll">
        <div ng-repeat="order in tableData.orderId">
          <div ng-repeat="item in order.item track by $index">
            <div class="order-item-container d-flex" ng-class="{'pointer-none' : item.checkout}">
              <div class="img" ng-style="{'background-color' : item.id.category.color}">
                <img ng-if="!item.id.logo.small && item.id.category.isIcon" class="icon-img" ng-src="{{item.id.category.icon}}" alt="" />
                <img ng-if="!item.id.logo.small && !item.id.category.isIcon && item.id.category.logo.small" ng-src="{{item.id.category.logo.small}}"
                  alt="Category Logo" />
                <img ng-if="item.id.logo.small" ng-src="{{item.id.logo.small}}" alt="Item Logo" />
                <span class="order-item-quantity" ng-if="item.quantity>0">{{item.quantity}}</span>
              </div>
              <div class="order-item-detail">
                <p class="name">{{item.id.name}}</p>
                <p class="name">&euro;{{item.price}}</p>
                <span ng-if="item.variant && item.variant.length">
                  <span ng-repeat="variant in item.variant" class="d-flex added-variand-name">
                    <span ng-if="variant.status == 0">- {{variant.name}} </span>
                    <span ng-if="variant.status == 1">+ {{variant.name}} &euro;{{variant.price}}</span>
                  </span>
                </span>
                <span ng-if="item.notes" class="d-flex added-variand-name">{{item.notes}}</span>
              </div>
              <button type="button" ng-show="item.status != 1" class="btn btn-secondary btn-icon mr-5" ng-click="editOrderItem(order._id,item)">
                <i class="ion-edit">
              </button>
              <button type="button" ng-show="item.status != 1" class="btn bg-red btn-icon" ng-click="deleteOrderItem(order._id,item._id,$index)">
                <i class="ion-trash-b">
              </button>
            </div>
          </div>
        </div>
      </div>
      <div ng-if="Order.selectedItems && showLedtSideBar" class="overflow-scroll">
        <div ng-repeat="item in Order.selectedItems[$baRoomService.getTabData().step]">
          <div class="order-item-container d-flex" ng-if="item.step == $baRoomService.getTabData().step">
            <div class="img" ng-style="{'background-color' : item.category.color}">
              <img ng-if="!item.logo.small && item.category.isIcon" class="icon-img" ng-src="{{item.category.icon}}" alt="" />
              <img ng-if="!item.logo.small && !item.category.isIcon && item.category.logo.small" ng-src="{{item.category.logo.small}}"
                alt="Category Logo" />
              <img ng-if="item.logo.small" ng-src="{{item.logo.small}}" alt="Item Logo" />
              <span class="order-item-quantity" ng-if="item.quantity>0">{{item.quantity}}</span>
            </div>
            <div class="order-item-detail">
              <p class="name">{{item.name}}</p>
              <p class="name">&euro;{{item.price}}</p>
              <span ng-if="item.variant && item.variant.length">
                <span ng-repeat="variant in item.variant" class="d-flex added-variand-name">
                  <span ng-if="variant.status == 0">- {{variant.name}} </span>
                  <span ng-if="variant.status == 1">+ {{variant.name}} &euro;{{variant.price}}</span>
                </span>
              </span>
              <span ng-if="item.ordernote" class="d-flex added-variand-name">{{item.ordernote}}</span>
            </div>
            <button type="button" class="btn btn-secondary btn-icon mr-5" ng-click="viewVarient1(item)">
              <i class="ion-edit">
            </button>
            <button type="button" class="btn bg-red btn-icon" ng-click="deleteItemFromCart(item)">
              <i class="ion-trash-b">
            </button>
          </div>
        </div>
      </div>
      <div class="sub-total" ng-if="showLedtSideBar">Sub Total : &euro;{{Order.cartTotalPrice}}</div>
    </div>
    <div class="footer-btn" ng-if="!tableData.orderId.length">
      <button style="background-color:#8dc63e; color:#fff; padding:10px 0;" type="submit" class="btn" ng-click="createOrder()"
        ng-disabled="!Order.selectedItems">
        Create Order
        <i class="ion-cart"></i> {{Order.cartTotalItem}} | &euro;{{Order.cartTotalPrice}}
      </button>
    </div>
    <div class="footer-btn" ng-if="tableData.orderId.length">
      <div class="d-flex">
        <button ng-if="!showLedtSideBar" type="submit" class="btn">
          <img src="assets/img/icon_file.png" alt="" />
        </button>
        <button ng-if="!showLedtSideBar" type="submit" class="btn" ng-click="showTotalItem()">
          <img src="assets/img/dollar_icon.png" alt="" />
        </button>
      </div>
      <button style="background-color:#8dc63e; color:#fff; padding:10px 0;" ng-if="showLedtSideBar" type="submit" class="btn" ng-click="createOrder()"
        ng-disabled="!Order.selectedItems">
        Create Order
        <i class="ion-cart"></i> {{Order.cartTotalItem}} | &euro;{{Order.cartTotalPrice}}
      </button>
      <button style="background-color:#00aef0; color:#fff; padding:10px 0;" ng-if="!showLedtSideBar" ng-click="openPopup(room._id,'app/pages/rooms/views/update.html', 'md')"
        type="submit" class="btn">
        Total
        <i class="ion-cart"></i> {{orderItemsTotalItem}} | &euro;{{orderItemsTotalPrice}}
      </button>
    </div>
  </div>
</div>

<div class="leftsidebar" ng-if="showCheckoutCart">
  <div class="contianer">
    <h1>Conto Separato</h1>
  </div>
  <button type="button" class="checkout-close-btn" ng-click="closeShowCheckoutCart()">
    <i class="ion-close-round"></i>
  </button>
  <div class="row height">
    <div class="col-sm-6">
      <table class="table">
        <thead>
          <tr>
            <th style="width: 73%;">Total</th>
            <th>&euro;{{orderItemsTotalPrice}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="width: 73%;">X {{Order.noOfPeople}} Coperti</td>
            <td class="btn-quantity">
              <button type="submit" ng-click="decreaseCheckoutPeople()">
                <i class="icon-minus"></i>
              </button>
              <button type="submit" ng-click="increaseCheckoutPeople()">
                <i class="icon-plus"></i>
              </button>
            </td>
          </tr>
          <tr ng-repeat="order in tableData.orderId">
            <td colspan="2" class="order-item-table">
              <table class="table">
                <tbody>
                  <tr ng-repeat="item in order.item track by $index">
                    <td>X {{item.quantity}} {{item.id.name}}</td>
                    <td class="btn-quantity">
                      <button type="submit" ng-click="decreaseItemQty(item)">
                        <i class="icon-minus"></i>
                      </button>
                      <button type="submit" ng-click="increaseItemQty(item)">
                        <i class="icon-plus"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-6">
      <table class="table">
        <thead>
          <tr>
            <th>Parziale</th>
            <th>&euro;{{checkoutTotalPrice}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="padding: 13px 0;">X {{checkoutPeople}} Coperti</td>
            <td style="padding: 13px 0;">
              &euro;{{checkoutPeoplePrice}}
            </td>
          </tr>
          <tr ng-repeat="item in orderItemsNew track by $index">
            <td style="padding: 13px 0;">X {{item.quantity}} {{item.name}}</td>
            <td style="padding: 13px 0;">
              &euro;{{item.amount}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="button text-right">
    <button type="submit" class="btn btn-default">Invia @</button>
    <button type="submit" class="btn btn-default">Scontrino</button>
    <button type="submit" class="btn btn-default">Fattura</button>
    <button type="submit" class="btn btn-default" ng-click="checkout()">Cancella</button>
  </div>
</div>
