<div class="categories">
    <div id="roomlistmsg" class="alert_message"></div>
    <div class="widgets">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div ba-panel ba-panel-class="table-panel mh-500">
                    <span class="add-btn" title="Add Room">
                        <button type="button" class="text-btn" data-toggle="modal" ng-click="openAddRoom('app/pages/rooms/views/add.html', 'md')">Add Room</button>
                    </span>
                    <div>
                        <div ng-show="rooms&&rooms.length" ng-init="indextab = 0">
                            <uib-tabset active="indextab">
                                <uib-tab ng-repeat="room in rooms track by $index" heading="{{room.name}}">
                                    <div ba-panel ba-panel-title="{{room.name}}" ba-panel-class="table-panel-container mh-500">
                                        <div class="update-name" ng-show="editBtn === $index">
                                            <input type="text" ng-model="editRoom.name" />
                                            <button type="submit" class="btn bg-success" ng-click="updateRoom()">Update</button>
                                        </div>
                                        <span class="add-btn pt-r-50" title="Edit Room">
                                            <!-- <a ng-click="openEditRoom(room,'app/pages/rooms/views/editRoom.html', 'md')" class="btn btn-default btn-icon">
                                                <i class="icon-pencil"></i>
                                            </a> -->
                                            <a ng-click="openEditRoom(room, $index)" class="btn btn-secondary btn-icon">
                                                <i class="ion-edit"></i>
                                            </a>
                                        </span>
                                        <span class="delete-btn " title="Delete Room">
                                            <a ng-click="removeRoom(room._id)" class="btn bg-red btn-icon">
                                                <i class="ion-trash-b"></i>
                                            </a>
                                        </span>
                                        <div class="room-container" ng-init="tableIndex = ($index+1)-1">
                                            <div ng-repeat="table in room.tables" class="table-container" ng-style="table.status == 0 ? {'background-color':'#c5c8cd'} : table.status == 1 ? {'background-color':'#add278'} : table.status == 2 ? {'background-color':'yellow'} :{'background-color':''}">
                                                <div class="room-table" ng-click="openCreateOrder(table,room,'app/pages/rooms/views/createOrder.html', 'md')">
                                                    <div class="table-name">
                                                        {{table.name}}
                                                    </div>
                                                </div>
                                                <div class="edit-table-btn" ng-show="editBtn == tableIndex">
                                                    <a title="Edit Table" ng-click="openEditTable(table,room._id,'app/pages/rooms/views/editTable.html', 'md')">
                                                        <i class="ion-edit"></i>
                                                    </a>
                                                </div>

                                                <a title="Delete Table" ng-show="editBtn == tableIndex" ng-click="removeTable(room._id, table._id)" class="delete-table-btn">
                                                    <i class="ion-trash-b"></i>
                                                </a>
                                            </div>
                                            <div class="add-room" ng-click="openAddTable(room._id,'app/pages/rooms/views/addTable.html', 'md')">
                                                <i class="icon-plus"></i>
                                                <div class="name">
                                                    Add
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </uib-tab>
                            </uib-tabset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="admin-order" ng-class="{'show' : showOrder}">
    <div class="order-header d-flex justify-space-between">
        <div class="table-name">Table {{tableData.name}}</div>
        <i class="icon-close" ng-click="cancelCreateOrder()"></i>
    </div>
    <div class="modal-content" ng-if="activeTab[0]">
        <div class="modal-body">
            <div class="d-flex justify-space-between">
                <div class="form-group">
                    <label>{{roomData.name}}</label>
                </div>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Number of Person</label>
                <input type="number" class="form-control" placeholder="Number of Person" ng-model="Order.noOfPeople" required>
                <span class="alert color-red" ng-if="Order.error">{{Order.errorMsg}}</span>
            </div>
            <button type="button" class="btn btn-primary" ng-click="makeOrder()">Make an order</button>
        </div>
    </div>

    <div class="modal-content" ng-if="activeTab[1]">
        <div class="modal-header mb-10">
            <i class="icon-arrow-left" ng-click="changeTab(0)"></i>
            <h4 class="modal-title">Choose Category</h4>
        </div>
        <step-list></step-list>
        <div class="modal-body pt-0">
            <div class="row">
                <div class="col-sm-12 d-flex catogory-container">
                    <input class="form-control" ng-model="searchText" type="text" placeholder="Search Category" />
                    <div class="category" ng-repeat="category in categories | filter : searchText" ng-click="showItems(category)" ng-style="{'background-color' : category.color}">
                        <img ng-src="{{category.icon}}">
                        <p class="name">{{category.name}}</p>
                    </div>
                </div>
                <!-- <div class="col-sm-12">
                    <button type="button" class="btn btn-primary" >
                        Back
                    </button>
                </div> -->
            </div>
        </div>
    </div>

    <div class="modal-content" ng-if="activeTab[2]">
        <div class="modal-header" ng-style="{'background-color' : Order.selectedCategory.color}">
            <i class="icon-arrow-left" ng-click="changeTab(1)"></i>
            <h4 class="modal-title" style="color: #fff" id="myModalLabel3">{{Order.selectedCategory.name}}</h4>
        </div>
        <div class="tabs-container">
            <ul ng-style="{'background-color' : Order.selectedCategory.color}">
                <li ng-class="{'active':Order.selectedSubcategory[-1]}" ng-click="filterBySubcategory()">All</li>
                <span ng-if="Order.selectedCategory.subCategory.length">
                    <li ng-repeat="subCategory in Order.selectedCategory.subCategory track by $index" ng-class="{'active':Order.selectedSubcategory[$index]}"
                        ng-click="filterBySubcategory(subCategory,$index)">
                        {{subCategory}}
                    </li>
                </span>
            </ul>
        </div>
        <step-list></step-list>
        <div class="modal-body pt-0">
            <div ng-if="!Order.categoryItems.length">
                No Item Found
            </div>
            <div ng-if="Order.categoryItems.length">
                <input class="form-control" ng-model="searchItem" type="text" placeholder="Search Item" />
                <div ng-repeat="item in Order.categoryItems | filter : searchItem">
                    <div class="order-item-container d-flex justify-space-between" ng-if="subcategory && (item.subCategory == subcategory)">
                        <div class="img" ng-style="{'background-color' : item.category.color}">
                            <img ng-if="!item.logo.small && item.category.isIcon" class="icon-img" ng-src="{{item.category.icon}}" alt="" />
                            <img ng-if="!item.logo.small && !item.category.isIcon && item.category.logo.small" ng-src="{{item.category.logo.small}}"
                                alt="Category Logo" />
                            <img ng-if="item.logo.small" ng-src="{{item.logo.small}}" alt="Item Logo" />
                            <span class="order-item-quantity" ng-if="item.itemTotal>0">{{item.itemTotal}}</span>
                        </div>
                        <div class="order-item-detail">
                            <p class="name">{{item.name}}</p>
                            <p class="name">&euro;{{item.price}}</p>
                        </div>
                        <div class="order-btn">
                            <button type="button" ng-click="decreaseValue(item)" value="Decrease Value">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" ng-click="increaseValue(item)" value="Increase Value">
                                <i class="fa fa-plus"></i>
                            </button>
                            <button type="button" class="varient-btn" ng-click="viewVarient(item)">
                                <img src="assets/img/icon_edit.png" alt="" />
                            </button>
                        </div>
                    </div>
                    <div class="order-item-container d-flex justify-space-between" ng-if="!subcategory">
                        <div class="img" ng-style="{'background-color' : item.category.color}">
                            <img ng-if="!item.logo.small && item.category.isIcon" class="icon-img" ng-src="{{item.category.icon}}" alt="" />
                            <img ng-if="!item.logo.small && !item.category.isIcon && item.category.logo.small" ng-src="{{item.category.logo.small}}"
                                alt="Category Logo" />
                            <img ng-if="item.logo.small" ng-src="{{item.logo.small}}" alt="Item Logo" />
                            <span class="order-item-quantity" ng-if="item.itemTotal>0">{{item.itemTotal}}</span>
                        </div>
                        <div class="order-item-detail">
                            <p class="name">{{item.name}}</p>
                            <p class="name">&euro;{{item.price}}</p>
                        </div>
                        <div class="order-btn">
                            <button type="button" ng-click="decreaseValue(item)">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" ng-click="increaseValue(item)">
                                <i class="fa fa-plus"></i>
                            </button>
                            <button type="button" class="varient-btn" ng-click="viewVarient(item)">
                                <img src="assets/img/icon_edit.png" alt="" />
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-btn">
                <!-- <button type="button" class="btn btn-primary" ng-click="changeTab(1)">
                    Back
                </button> -->
                <button type="button" class="btn btn-primary" ng-click="changeTab(4)">
                    <i class="fa fa-cart"></i> {{Order.cartTotalItem}} | &euro;{{Order.cartTotalPrice}}
                </button>
            </div>
        </div>
    </div>

    <div class="modal-content" ng-if="activeTab[3]">
        <div class="modal-header">
            <!-- <button type="button" class="close" ng-click="cancelCreateOrder()" aria-label="Close">
                <em class="ion-ios-close-empty sn-link-close"></em>
            </button> -->
            <i class="icon-arrow-left" ng-click="hideVarient()"></i>            
            <h4 class="modal-title" id="myModalLabel3" ng-if="Order.selectedCategory">Choose Variant
                <button ng-click="saveVariantData()">Save</button>
            </h4>
        </div>
        <step-list></step-list>
        <div class="modal-body">
            <h5>Quantity</h5>
            <div class="input-group">
                <span class="input-group-addon addon-left input-group-addon-secondry" ng-click="decreaseQty()">
                    <i class="fa fa-minus"></i>
                </span>
                <div class="text-center input-value">{{variantData.quantity}}</div>
                <span class="input-group-addon addon-right input-group-addon-secondry" ng-click="increaseQty()">
                    <i class="fa fa-plus"></i>
                </span>
            </div>
            <div *ngIf="variantError" class="color-red">{{variantError}}</div>
            <h5>Variant and Notes</h5>
            <div class="tabs-btn d-flex">
                <button type="button" ng-click="tabActive(1)" ng-class="{'active':Order.activeTab[0]}">Variants</button>
                <button type="button" ng-click="tabActive(2)" ng-class="{'active':Order.activeTab[1]}">Notes</button>
            </div>
            <div class="varient-list" ng-if="Order.activeTab[0]">
                <table class="table">
                    <tbody>
                        <tr ng-repeat="varient in variantList">
                            <td>{{varient.name}}</td>
                            <td>&euro;{{varient.price}}</td>
                            <td>
                                <button type="button" class="add-varient-btn" ng-class="{'variant-remove' : varient.status == 0}" id="decrease" value="Decrease Value" ng-click="addRemoveVariant(varient,0)">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <button type="button" class="add-varient-btn" ng-class="{'variant-added' : varient.status == 1}"  id="increase" value="Increase Value" ng-click="addRemoveVariant(varient,1)">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="varient-list" ng-if="Order.activeTab[1]">
                <table class="table">
                    <tbody>
                        <tr ng-repeat="note in noteList track by $index">
                            <td>{{note.notes}}</td>
                            <td>
                                <input type="checkbox" ng-model="notes[note.notes]" ng-change="addNote(note.notes, $index)"/>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- <button type="button" class="btn btn-primary" ng-click="hideVarient()">
                Back
            </button> -->
        </div>
    </div>

    <div class="modal-content" ng-if="activeTab[4]">
        <div class="modal-header">
            <i class="icon-arrow-left" ng-click="changeTab(2)"></i>
            <h4 class="modal-title">Create Order</h4>
        </div>
        <step-list></step-list>
        <div class="modal-body">
            <div id="createOrderMsg"></div>
            <div ng-if="!(Order.selectedItems && Order.selectedItems.length)">No Item Added</div>
            <div ng-if="Order.selectedItems && Order.selectedItems.length" class="modal-height">
                <div class="order-item-container d-flex justify-space-between" ng-repeat="item in Order.selectedItems">
                    <div ng-if="item.step == RoomService.getTabData().step">
                        <div class="img" ng-style="{'background-color' : item.category.color}">
                            <img ng-if="!item.logo.small && item.category.isIcon" class="icon-img" ng-src="{{item.category.icon}}" alt="" />
                            <img ng-if="!item.logo.small && !item.category.isIcon && item.category.logo.small" ng-src="{{item.category.logo.small}}"
                                alt="Category Logo" />
                            <img ng-if="item.logo.small" ng-src="{{item.logo.small}}" alt="Item Logo" />
                            <span class="order-item-quantity" ng-if="item.quantity>0">{{item.quantity}}</span>
                        </div>
                        <div class="order-item-detail">
                            <p class="name">{{item.name}}</p>
                            <p class="name">&euro;{{item.price}}</p>
                            <span ng-if="item.variant && item.variant.length">
                                <span ng-repeat="variant in item.variant" class="d-flex added-variand-name">
                                    <span ng-if="variant.status == 0">- {{variant.name}} </span>
                                    <span ng-if="variant.status == 1">+ {{variant.name}} &euro;{{variant.price}}</span>
                                </span>
                            </span>
                            <span ng-if="item.ordernote" class="d-flex added-variand-name">{{item.ordernote}}</span>
                        </div>
                        
                        <button type="button" class="btn btn-primary" ng-click="deleteItemFromCart(item)">
                            Delete
                        </button>
                    </div>
                </div>
                <p>Sub Total : &euro;{{Order.cartTotalPrice}}</p>
            </div>            
        </div>
        <div class="footer-btn">
            <!-- <button type="button" class="btn btn-primary" ng-click="changeTab(2)">
                Back
            </button> -->
            <button type="submit" class="btn btn-primary" ng-click="createOrder()" ng-disabled="!Order.selectedItems.length">
                Create Order
            </button>
        </div>
    </div>    
</div>