<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancelSendTo()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h4 class="modal-title" id="myModalLabel">{{'SendTo' | translate}}</h4>
    </div>
    <div class="modal-body">
        <div id="sendmsg" class="alert_message"></div>
        <form class="form-horizontal" name="form" novalidate>
            <div class="form-group">
                <label for="email" class="col-sm-4 control-label">
                    <strong>Email</strong>
                </label>
                <div class="col-sm-5">
                    <input type="email" class="form-control" name="email" ng-model="Send.email" placeholder="Email" required />
                    <span class="alert color-red" ng-show="form.email.$dirty &&  form.email.$error.required">{{'Emailrequired' | translate}}</span>
                </div>
            </div>
            <div class="form-group">
                <label for="input01" class="col-sm-4 control-label">
                </label>
                <div class="col-sm-5">
                    <button type="button" class="btn btn-secondary" ng-click="generateInvoiceAndSend()" ng-disabled="form.$invalid||sendRequest">{{'Send' | translate}}</button>
                    <button type="button" class="btn btn-default" ng-click="cancelSendTo()">{{'Cancel' | translate}}</button>
                </div>
            </div>
        </form>
    </div>
</div>

