<div class="widgets">
    <div class="row">
        <div class="col-md-12">
            <div id="settingmsg"></div>
            <div class="panel">
                <div class="panel-body">
                    <form class="form-horizontal" name="form" novalidate>
                        <h3>Cost</h3>                        
                        <div class="form-group">
                            <label for="input01" class="col-sm-2 control-label">
                                <strong>Seat Cost</strong>
                            </label>
                            <div class="col-sm-5">
                                <input type="text" name="seatcost" ng-model="Settings.seatCost" class="form-control" placeholder="Seat Cost" required />
                                <span class="alert color-red" ng-show="form.seatcost.$dirty && form.seatcost.$error.required">Seat Cost is required.</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input01" class="col-sm-2 control-label">
                                <strong>Printer IP</strong>
                            </label>
                            <div class="col-sm-5">
                                <input type="text" name="printer" ng-model="Settings.printer" class="form-control" placeholder="Seat Cost" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="input01" class="col-sm-2 control-label"></label>
                            <div class="col-sm-5">
                                <button type="button" class="btn bg-success" ng-click="save()" ng-disabled="form.$invalid||loader">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" name="form" novalidate>
                        <h3>Bluetooth Connectivity</h3>
                        <div class="form-group">
                            <label for="input01" class="col-sm-2 control-label">
                                <strong>Devices</strong>
                            </label>
                            <div class="col-sm-5 mt-10">
                                <div ng-if="!devices.length">
                                    No device found.
                                </div>
                                <div ng-if="devices.length">
                                    <div ng-repeat="device in devices">
                                        <div class="cursor-pointer" ng-click="deviceChanged(device)">
                                            {{device.name}}
                                            <span ng-if="deviceSelected && deviceSelected.address == device.address">
                                                <i class="fa fa-check" aria-hidden="true"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div>Searching for devices...</div>
                                <!-- <select class="form-control" ng-model="deviceSelected" ng-change="deviceChanged(deviceSelected)" data-ng-options="deviceSelected as deviceSelected.name for deviceSelected in devices">
                                                            <option ng-show="!deviceLoading" selected value="">Select Device</option>
                                                            <option ng-show="deviceLoading" value="">Loading...</option>                                
                                                        </select> -->
                                <!-- </div> -->
                            </div>
                        <!-- <div class="form-group">
                            <label for="input01" class="col-sm-2 control-label"></label>
                            <div class="col-sm-5">
                                <button type="button" class="btn bg-success" ng-click="save()" ng-disabled="form.$invalid||loader">Save</button>
                            </div>
                        </div> -->
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>