<div ba-panel ba-panel-title="Menu List" ba-panel-class="with-scroll table-panel mh-500 menu-list">
    <uib-tabset active="$tabSetStatus.activeTab">
        <uib-tab heading="Monday">
            <div class="row">
                <div class="col-sm-3">
                    <img src="assets/img/starter.jpg">
                </div>
                <div class="col-sm-9">
                    <h1>Starter</h1>
                    <ul>
                        <li>
                            - Strudel di patate, prosciutto cotto e mozzarella
                        </li>
                        <li>
                            - Coppa, pancetta e salame, pane e pomodorini
                        </li>
                        <li>
                            - Culatello nazionale di Parma accompagnato da noci di Grana
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <img src="assets/img/drinks.jpg">
                </div>
                <div class="col-sm-9">
                    <h1>Specials</h1>
                    <ul>
                        <li>
                            - Costoletta d’agnello alla griglia con pomodorini grigliati
                        </li>
                        <li>
                            - Tagliata di manzo con peperoni caramellati
                        </li>
                        <li>
                            - Filetto di trota salmonata ai ferri
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <img src="assets/img/starter.jpg">
                </div>
                <div class="col-sm-9">
                    <h1>Starter</h1>
                    <ul>
                        <li>
                            - Strudel di patate, prosciutto cotto e mozzarella
                        </li>
                        <li>
                            - Coppa, pancetta e salame, pane e pomodorini
                        </li>
                        <li>
                            - Culatello nazionale di Parma accompagnato da noci di Grana
                        </li>
                    </ul>
                </div>
            </div>
        </uib-tab>
        <uib-tab heading="Tuesday">
            <div class="row">
                <div class="col-sm-3">
                    <img src="assets/img/drinks.jpg">
                </div>
                <div class="col-sm-9">
                    <h1>Specials</h1>
                    <ul>
                        <li>
                            - Costoletta d’agnello alla griglia con pomodorini grigliati
                        </li>
                        <li>
                            - Tagliata di manzo con peperoni caramellati
                        </li>
                        <li>
                            - Filetto di trota salmonata ai ferri
                        </li>
                    </ul>
                </div>
            </div>
        </uib-tab>
        <uib-tab heading="Wednesday">
            <p>
                You can't connect the dots looking forward; you can only connect them looking backwards. So you have to trust that the dots
                will somehow connect in your future. You have to trust in something--your gut, destiny, life, karma, whatever.
                This approach has never let me down, and it has made all the difference in my life.
            </p>

        </uib-tab>
        <uib-tab heading="Thursday">
            <p>
                You can't connect the dots looking forward; you can only connect them looking backwards. So you have to trust that the dots
                will somehow connect in your future. You have to trust in something--your gut, destiny, life, karma, whatever.
                This approach has never let me down, and it has made all the difference in my life.
            </p>

        </uib-tab>
        <uib-tab heading="Friday">
            <p>
                You can't connect the dots looking forward; you can only connect them looking backwards. So you have to trust that the dots
                will somehow connect in your future. You have to trust in something--your gut, destiny, life, karma, whatever.
                This approach has never let me down, and it has made all the difference in my life.
            </p>

        </uib-tab>
        <uib-tab heading="Satudray">
            <p>
                You can't connect the dots looking forward; you can only connect them looking backwards. So you have to trust that the dots
                will somehow connect in your future. You have to trust in something--your gut, destiny, life, karma, whatever.
                This approach has never let me down, and it has made all the difference in my life.
            </p>

        </uib-tab>
    </uib-tabset>
</div>