<div class="widgets">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div ba-panel ba-panel-title="Todays Orders" ba-panel-class="with-scroll table-panel mh-500">
                <div class="" style="right: 21px;margin-top: -42px;position: absolute;">Current Time: {{ clock | date:'HH:mm:ss'}}</div>
                <div ng-show="ordersList.length<1" class="text-center">
                    No order available
                </div>
                <table class="table" ng-show="ordersList.length">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Waiter</th>
                            <th>Room</th>
                            <th>Table</th>
                            <th>Order Time</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat-start="order in ordersList | orderBy: '-created_at'">
                            <td>
                                <button ng-if="order.expanded" ng-click="order.expanded = false"><i class="fa fa-minus"></i></button>
                                <button ng-if="!order.expanded" ng-click="order.expanded = true"><i class="fa fa-plus"></i></button>
                            </td>
                            <td>{{order.waiter.firstName}}</td>
                            <td>{{order.room.name}}</td>
                            <td>{{order.tableName}}</td>
                            <td>{{order.created_at | date:'hh:mm a'}}</td>
                            <td>{{getOrderStatus(order.status)}}</td>
                            <td><button type="button" class="text-btn" data-toggle="modal" ng-click="openPopup(order, 'app/pages/orders/views/update.html', 'md')">Update</button></td>
                            <td><button type="button" class="text-btn" ng-click="checkout(order.room._id,order.table)">Checkout</button></td>                        
                        </tr>
                        <tr ng-if="order.expanded" ng-repeat-end="">
                            <td>{{order.item}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>